<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>JSP configuration for the admin console</description>
            <display-name>login/register page</display-name>
            <url-pattern>/WEB-INF/login/login.jsp</url-pattern>
            <url-pattern>/WEB-INF/login/register.jsp</url-pattern>
            <include-prelude>/WEB-INF/login/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/login/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>The main pages</description>
            <display-name>Main</display-name>
            <url-pattern>/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login/login.jsp</form-login-page>
            <form-error-page>/login/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
