/* 
    Document   : newstyle
    Created on : Jun 21, 2013, 11:53:50 AM
    Author     : Timo
    Description:
        Purpose of the stylesheet follows.
*/

.rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.body {
    background-color:#dceaf4;
}

.create {
    padding:10px;
}

.edit {
    padding:10px;
}

.login{
    padding:10px;
}

.register{
    padding:10px;
}

.body > div {
    margin-left:10px;
}

.paging {
    text-align: center;
}

.bid-container {
    height:200px;
    overflow:auto;
}

div > label {
    display:inline-block;
    width:100px;
}

div.advertisement {
    display: table;
    width: 100%;
}
div.advertisement span{
    display: table-cell;
    text-align: center;
}



