/* 
    Document   : style
    Created on : Jun 6, 2013, 9:00:55 PM
    Author     : Timo
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
}

root { 
    display: block;
}

.clear {
    clear:both;
}

i.less {
    font-size: 80%;
}

.fll {
    float:left;
}

.flr {
    float:right;
}

.header {
    background-color: #9c9999;
    border-style: solid;
    border-width: 0 0 1px 0;
    min-height:100px;
}

.header h2 {
    color: #fff;
    padding: 30px 0 0 20px;
    font-size: 200%;
}

.header h2 a {
    text-decoration: none;
    color:#fff;
}

.header .login {
    float:right;
    padding: 0 10px 0 0;
}

.container {
    width: 1000px;
    border: 1px solid #010000;
    margin: 100px auto;
    min-height: 500px;
}

.main {
    padding: 20px;
}

/*=======================*/
/* INDEX                 */
/*=======================*/
.action-menu {
    border:1px solid #010000;
    min-height:20px;
    margin:0;
    padding:0;
}

.ad-container {
    border:1px solid #010000;
    min-height:200px;
    margin:20px 0 0 0;
}

.ad-container .paging {
    width:100px;
    margin: 0 auto;
}

.adv-block {
    border: 1px solid #000;
    width:225px;
    min-height:205px;
    position: relative;
    background-color:#ffff66;
}

.adv-block h3  {
    text-align: center;
}

.adv-block a {
    color: #000000;
}

.adv-block > p, .adv-block , .adv-block .picture, .adv-block .description, .adv-block .price, .adv-block .user {
    margin:10px 5px;
}

.adv-block .price {
    width:98%;
    position:absolute;
    bottom:0;
}
.adv-block .picture {
    width:50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid black;    
}

.adv-block .description {
    margin-bottom:60px; /*THIS IS MENDATORY FOR PUSHING THE POSITION:ABSOLUTE OF PRICE DOWN */
}

/*=======================*/
/* LOGIN / CREATE        */
/*=======================*/

.loginBox {
    width: 500px;
    margin: 200px auto;
    border: 1px solid #010000;
}

.loginBox form > div, .loginBox h2, .create form > div {
    padding: 10px 10px;
}

.loginBox form > div > label, .create form > div > label {
    display: inline-block;
    width:150px;
}

.loginBox .message, .message {
    border: 1px solid #010000;
    width: 350px;
    margin: 5px auto;
    padding: 10px;
}

.loginBox .message.error, .message.error {
    background-color: #f09393;
}

.loginBox .message.success, .message.success {
    background-color: #57f149;
}

.loginBox .error ul, .loginBox .success ul, .error ul {
    padding-left:30px;
}

/*=======================*/
/* ADVERTISEMENT         */
/*=======================*/

.bid-block {
    width: 250px;
    border: 1px solid #000;
    height: 400px;
    position:relative;
}

.bid-block h2 {
    text-align: center;
}

.bid-block .bid-container {
    height: 90%;
    margin-bottom: 30px;
}

.bid-block .bid-container ul {
    padding-left: 30px;
}

.bid-block .bid-container .bid-add {
    position: absolute;
    bottom: 0;
    margin:5px 10px;
}
